flowsbluemix.json
[{"id":"e8508176.f50e2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b6c4b8d4.557b68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ca914631.9e4748","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ce9b7c5f.38cf7","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"777305e4.d58e9c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fba54d64.a678d","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"28369e44.9be332","type":"ui_group","z":"","name":"Default","tab":"fba54d64.a678d","order":1,"disp":true,"width":"6","collapse":false},{"id":"c2b73d6e.b95c7","type":"ibmiot in","z":"e8508176.f50e2","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"080027ca55ef","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":220,"wires":[["c3b96375.4632e"]]},{"id":"c3b96375.4632e","type":"debug","z":"e8508176.f50e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":220,"wires":[]},{"id":"7d3a6253.e9008c","type":"ibmiot out","z":"b6c4b8d4.557b68","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"080027ca55ef","deviceType":"1.0.5","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":320,"y":240,"wires":[]},{"id":"8b9fd86a.458aa8","type":"inject","z":"b6c4b8d4.557b68","name":"","topic":"","payload":"Normal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["daab414d.665b1"]]},{"id":"44824738.2f9cf8","type":"inject","z":"b6c4b8d4.557b68","name":"","topic":"","payload":"Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["daab414d.665b1"]]},{"id":"daab414d.665b1","type":"function","z":"b6c4b8d4.557b68","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["d545c749.25d798"]]},{"id":"d545c749.25d798","type":"json","z":"b6c4b8d4.557b68","name":"","property":"payload","action":"","pretty":false,"x":110,"y":240,"wires":[["7d3a6253.e9008c"]]},{"id":"d56b8fd6.57578","type":"ibmiot in","z":"ca914631.9e4748","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb080027ca55ef","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":false,"qos":0,"x":90,"y":160,"wires":[["5cb53c42.711354"]]},{"id":"5cb53c42.711354","type":"debug","z":"ca914631.9e4748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":160,"wires":[]},{"id":"2ac71535.c036aa","type":"ui_button","z":"ce9b7c5f.38cf7","name":"","group":"28369e44.9be332","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":420,"wires":[[]]},{"id":"73cb29dd.229c98","type":"function","z":"ce9b7c5f.38cf7","name":"Suhu","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":100,"wires":[["be31b5d.5496448"]]},{"id":"7b25b516.0c1e0c","type":"function","z":"ce9b7c5f.38cf7","name":"Kelembapan","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["346d3473.9261ac"]]},{"id":"3e9dc18f.ebfe2e","type":"function","z":"ce9b7c5f.38cf7","name":"Tekanan","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":220,"wires":[["c337ef23.b9984"]]},{"id":"346d3473.9261ac","type":"ui_gauge","z":"ce9b7c5f.38cf7","name":"Kelembapan","group":"28369e44.9be332","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":160,"wires":[]},{"id":"c337ef23.b9984","type":"ui_gauge","z":"ce9b7c5f.38cf7","name":"Tekanan","group":"28369e44.9be332","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":220,"wires":[]},{"id":"be31b5d.5496448","type":"ui_gauge","z":"ce9b7c5f.38cf7","name":"Suhu","group":"28369e44.9be332","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":100,"wires":[]},{"id":"462abf29.4144a","type":"debug","z":"ce9b7c5f.38cf7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":300,"wires":[]},{"id":"4422f3e.1c55f0c","type":"ibmiot in","z":"ce9b7c5f.38cf7","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":160,"wires":[["73cb29dd.229c98","7b25b516.0c1e0c","3e9dc18f.ebfe2e","462abf29.4144a"]]}]