flowsraspberrypi.json
[{"id":"e08bd984.a550f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e147115f.cca2b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3b93eab9.635856","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9293300f.c7ef1","type":"wiotp-credentials","z":"","name":"","org":"c9fll7","serverName":"","devType":"raspberrypi","devId":"080027ca55ef","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"e2132f57.82c8b","type":"wiotp-credentials","z":"","name":"b828eb9c8992","org":"4j44fo","serverName":"","devType":"raspberrypiGW","devId":"b828eb9c8992","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"eb300b54.4a3108","type":"wiotp-credentials","z":"","name":"","org":"4j44fo","serverName":"","devType":"raspberrypiGW","devId":"52212117334d","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"8ce6418f.66076","type":"wiotp-credentials","z":"","name":"","org":"c9fll7","serverName":"","devType":"pigateway","devId":"pigateway","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"6226d3e2.d67e2c","type":"inject","z":"e08bd984.a550f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["547f557f.fb556c"]]},{"id":"7cf036f7.2527a8","type":"function","z":"e08bd984.a550f8","name":"Format data","func":"msg.payload = { 'd' : { 'random' : msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":240,"wires":[["5ed64b01.89a894","771f20fe.12ee7"]]},{"id":"547f557f.fb556c","type":"random","z":"e08bd984.a550f8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":280,"y":160,"wires":[["7cf036f7.2527a8"]]},{"id":"5ed64b01.89a894","type":"debug","z":"e08bd984.a550f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":300,"y":240,"wires":[]},{"id":"771f20fe.12ee7","type":"wiotp out","z":"e08bd984.a550f8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"9293300f.c7ef1","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":270,"y":300,"wires":[]},{"id":"30be4859.b1c528","type":"wiotp in","z":"e147115f.cca2b","authType":"d","deviceKey":"9293300f.c7ef1","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":100,"y":220,"wires":[["700fd41c.3b760c"]]},{"id":"700fd41c.3b760c","type":"debug","z":"e147115f.cca2b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":340,"wires":[]},{"id":"5719605.b86c7a","type":"rpi-sensehatsim in","z":"3b93eab9.635856","name":"","motion":false,"env":true,"stick":false,"x":120,"y":80,"wires":[["fa7f40a1.405bd"]]},{"id":"fa7f40a1.405bd","type":"delay","z":"3b93eab9.635856","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":80,"wires":[["cf9a044d.64f638"]]},{"id":"cf9a044d.64f638","type":"function","z":"3b93eab9.635856","name":"","func":"msg.payload = {\"Data\" : {\"Environment\":msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId =\"senb080027ca55ef\";\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":140,"wires":[["1eeba879.07ff88","26c0e112.ddb8fe"]]},{"id":"1eeba879.07ff88","type":"debug","z":"3b93eab9.635856","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":300,"y":140,"wires":[]},{"id":"26c0e112.ddb8fe","type":"wiotp out","z":"3b93eab9.635856","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ce6418f.66076","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"IBM  IoT Output","x":260,"y":200,"wires":[]}]